---
systemd:
  units:
    - name: installer.service
      enable: true
      contents: |
        [Unit]
        Requires=network-online.target
        After=network-online.target
        [Service]
        Type=simple
        ExecStart=/opt/installer
        [Install]
        WantedBy=multi-user.target
    - name: sshd.socket
      enable: true
      contents: |
        [Socket]
        ListenStream=2222
        FreeBind=true
        Accept=yes
        [Install]
        WantedBy=multi-user.target
    - name: iptables-restore.service
      enable: true
storage:
  files:
    - filesystem: root
      path: /opt/installer
      contents:
        inline: |
          #!/bin/bash -ex
          curl "http://matchbox.kube.com:8080/ignition?{{.request.raw_query}}&os=installed" -o ignition.json
          coreos-install \
            -d /dev/sda \
            -C alpha \
            -V @COREOS_VERSION@ \
            -o "" \
            -b http://matchbox.kube.com:8080/assets/coreos \
            -i ignition.json
          udevadm settle
          systemctl reboot
      mode: 320
      user:
        name: root
      group:
        name: root
    - filesystem: root
      path: /var/lib/iptables/rules-save
      contents:
        inline: |
          *filter
          -A INPUT -p tcp --dport 22 -j DROP
          COMMIT
      mode: 420
      user:
        name: root
      group:
        name: root
  directories:
    filesystem: root
    path: /opt
    mode: 493
    user:
      name: root
    group:
      name: root
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{.ssh_authorized_key}}
